@import '~normalize.css';
@import './utils/index';

html, body {
  font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
  font-size: 10px;
  min-height: var(--window-height, 100vh);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $white;
  min-width: 320px;
  -webkit-overflow-scrolling: touch;
  transition: filter $base-transition-time * 3;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: inherit;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
}

main {
  padding-bottom: 11.2rem;
  flex: 1;

  @include mediaQuery(desktop1280) {
    padding-bottom: 17rem;
  }

  @include mediaQuery(desktop1920) {
    padding-bottom: 21.5rem;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uppercase {
  text-transform: uppercase;
}
