@import "../utils/index";
@import "../common/index";

.base-button {
  padding: 1.5rem 3.85rem 1.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: $white;
  background-color: $biloba-flower;
  border: 0;
  transition: background-color $base-transition-time;
  cursor: pointer;
  text-decoration: none;

  @include hover {
    background-color: $honey-flower;
  }

  @include mediaQuery(desktop) {
    padding: 1.6rem 3.9rem 1.5rem;
    font-size: 1.9rem;
  }

  @include mediaQuery(desktop1920) {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 2.4rem 4.5rem 2.3rem;
  }

  &[disabled] {
    background-color: $disabled;
    opacity: .7;
    pointer-events: none;
    user-select: none;
    cursor: default;
  }
}
