@import "../utils/index";
@import "../common/index";

.base-checkbox {
  $s: &;
  display: flex;
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 2.5rem;
  user-select: none;
  letter-spacing: 0.2px;
  min-height: 2.5rem;
  align-items: center;

  @include mediaQuery(desktop1280) {
    font-size: 1.6rem;
    letter-spacing: -0.2px;
    padding-left: 6.2rem;
  }

  @include mediaQuery(desktop1920) {
    padding-left: 6.8rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ {
        #{$s}__checkmark {
          &:after {
            display: block;
          }
        }
      }
    }

    &.error {
      ~ {
        #{$s}__checkmark {
          border-color: $error;
        }
      }
    }
  }

  #{$s}__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: $white;
    border: 3px solid $biloba-flower;
    transition: border-color $base-transition-time;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 0.6rem;
      top: 0.2rem;
      width: 0.5rem;
      height: 1rem;
      border: solid $biloba-flower;
      border-width: 0 .3rem .3rem 0;
      transition: border-color $base-transition-time;
      transform: rotate(45deg);
    }

    @include mediaQuery(desktop) {
      height: 4rem;
      width: 4rem;

      &:after {
        left: 1.1rem;
        top: 0.5rem;
        width: (0.5rem * 1.6);
        height: (1rem * 1.6);
      }
    }
  }

  @include hover {
    #{$s}__checkmark {
      border-color: $honey-flower;

      &:after {
        border-color: $honey-flower;
      }
    }
  }
}
