@import "../utils/index";
@import "../common/index";

.base-input {
  display: block;
  width: 100%;
  padding: 1.7rem;
  border: 3px solid $biloba-flower;
  font-size: 1.8rem;
  line-height: 1.8rem;
  transition: border-color $base-transition-time;
  cursor: pointer;

  @include mediaQuery(desktop1280) {
    padding: 2.55rem;
  }

  @include mediaQuery(desktop1920) {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 2.15rem;
  }

  &.error {
    border-color: $error;

    &::placeholder {
      color: $error;
    }
  }

  &::placeholder {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: $biloba-flower;
    font-weight: 400;

    @include mediaQuery(desktop1920) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }


  @include hover {
    border-color: $honey-flower;
  }
}
