@import "../utils/index";
@import "../common/index";

.contacts-block {
  padding-top: 7.1rem;

  @include mediaQuery(desktop1280) {
    padding-top: 12.1rem;
  }

  @include mediaQuery(desktop1920) {
    padding-top: 17.1rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include base-container;
    margin-left: auto;
    margin-right: auto;

    @include mediaQuery(desktop1280) {
      max-width: 97.8rem;
    }

    @include mediaQuery(desktop1920) {
      max-width: 126.7rem;
    }
  }

  &__tg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: (3.1rem * .65);
    line-height: (4.5rem * .65);
    padding-top: 7.5rem;
    color: $biloba-flower;

    .svg-icon {
      transition: color $base-transition-time;

      @include hover {
        color: $honey-flower;
      }
    }

    @include mediaQuery(tablet) {
      font-size: (3.1rem * .8);
      line-height: (4.5rem * .8);
      padding-top: 11.5rem;
    }

    @include mediaQuery(desktop1920) {
      font-size: 3.1rem;
      line-height: 4.5rem;
      padding-top: 16.5rem;
    }

    &-text {
      color: $honey-flower;
      text-align: center;
      padding-top: 2.4rem;

      @include mediaQuery(tablet) {
        padding-top: 2.7rem;
      }

      @include mediaQuery(desktop1920) {
        padding-top: 3.1rem;
      }
    }
  }
}