@import "../utils/index";
@import "../common/index";

.decorated-text-block {
  font-size: 1.4rem;
  line-height: 2.45rem;
  padding-left: 3.8rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.2px;

  @include mediaQuery(desktop1280) {
    padding-left: 8.8rem;
    font-size: 2.7rem;
    line-height: 4.8rem;
    letter-spacing: 0.4px;
  }

  &__bold {
    font-weight: bold;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: $biloba-flower;
    width: 1.2rem;
    height: 6.2rem;
    left: 1px;
    top: 3px;

    @include mediaQuery(desktop1280) {
      width: 2.4rem;
      height: 12.2rem;
      left: -2px;
      top: 9px;
    }

    @include mediaQuery(desktop1920) {
      width: 3.4rem;
      height: 16.2rem;
      left: -4px;
      top: 12px;
    }
  }

  @include mediaQuery(mobile414) {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  @include mediaQuery(tablet) {
    font-size: 2.7rem;
    line-height: 5rem;
  }

  &--t {
    &:before {
      display: none;
    }
  }
}
