@import "../utils/index";
@import "../common/index";

.first-banner {
  @include first-block-on-page-padding;
  padding-bottom: 52rem;
  position: relative;
  background-color: $gallery;
  overflow: hidden;

  //background-image: url($imgUrl + 'first-banner-bg.png');
  //background-size: 300px;
  //background-repeat: no-repeat;
  //background-position: bottom right;

  @include mediaQuery(desktop) {
    padding-bottom: 34rem;
  }

  @include mediaQuery(desktop1920) {
    padding-top: 28.15rem;
    padding-bottom: 49rem;
  }

  &:before {
    content: '';
    position: absolute;
    background-image: url($imgUrl + 'first-banner-bg.png');
    bottom: 0;
    right: -43px;
    height: 606px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;

    @include retina {
      background-image: url($imgUrl + 'first-banner-bg@2x.png');
    }

    @include mediaQuery(desktop) {
      right: -90px;
      height: 80%;
      width: 400px;
      max-height: 692px;
    }

    @include mediaQuery(desktop1280) {
      right: -96px;
      height: 100%;
      width: 500px;
      max-height: 1016px;
    }

    @include mediaQuery(desktop1920) {
      right: -63px;
      height: 96%;
      width: 698px;
      bottom: 57px;
      max-height: 1315px;
    }
  }

  &__inner {
    max-width: 96.7rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.2rem;
    @include base-container;

    @include mediaQuery(desktop) {
      padding-left: 3.8rem;
    }

    @include mediaQuery(desktop1920) {
      max-width: 126.7rem;
    }
  }

  &__heading {
    //font-style: normal;
    //font-size: 3.2rem;
    //font-size: 2.9rem;
    //line-height: 3.2rem;
    color: $honey-flower;
    //letter-spacing: 1.2px;
    position: relative;
    text-shadow: 0 0 6px $gallery;
    word-break: break-word;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;

    //&-fw200 {
    //  font-weight: 200;
    //  text-transform: uppercase;
    //}
    //
    //&-fw400 {
    //  font-weight: 400;
    //
    //  @include mediaQuery(desktop1280) {
    //    letter-spacing: 1px;
    //  }
    //}
    //
    //&-fw700 {
    //  font-weight: 700;
    //  text-transform: uppercase;
    //  //letter-spacing: .5px;
    //  letter-spacing: 0;
    //
    //  @include mediaQuery(desktop1280) {
    //    //letter-spacing: 2px;
    //  }
    //}

    @include mediaQuery(mobile414) {
      //font-size: 3.3rem;
      //line-height: 1;
    }

    @include mediaQuery(tablet) {
      //font-size: 6.2rem;
      //line-height: 7rem;
      font-size: 5.1rem;
      line-height: 5.4rem;
    }

    @include mediaQuery(desktop) {
      //font-size: 6.9rem;
      //line-height: 7rem;
    }

    @include mediaQuery(desktop1280) {
      //letter-spacing: 2.5px;
    }

    @include mediaQuery(desktop1920) {
      font-size: 9.3rem;
      line-height: 9.6rem;
      //letter-spacing: 3.3px;
    }
  }

  &__paragraph {
    margin-top: 5.2rem;
    text-shadow: 0 0 10px $gallery;
    max-width: 71.3rem;

    @include mediaQuery(mobile414) {
      min-height: 9.6rem;
    }

    @include mediaQuery(desktop1280) {
      max-width: 700px;
      margin-top: 6.2rem
    }

    @include mediaQuery(desktop1920) {
      max-width: 80%;
      font-size: 3.7rem;
      line-height: 7.1Rem;
      padding-left: 12rem;
      margin-top: 9rem;
    }
  }
}
