@import "../utils/index";
@import "../common/index";

.page-header {
  padding: 3.5rem 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  @include mediaQuery(desktop1280) {
    padding: 8.5rem 10.2rem;
  }

  @include mediaQuery(desktop1920) {
    padding: 9rem 10.2rem;
  }

  &__logo {

  }

  &__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1450px;
  }
}
