@import "../utils/index";
@import "../common/index";

.page-footer {
  display: flex;
  justify-content: center;
  padding-top: 5.95rem;
  padding-bottom: 8.85rem;
  background-color: $wild-sand;

  &__inner {

  }
}
