@import "../utils/index";
@import "../common/index";

.second-banner {
  position: relative;
  background-color: $perfume;
  margin-bottom: 2.5rem;
  margin-top: -1rem;

  &:before {
    content: '';
    position: absolute;
    background-image: url($imgUrl + 'main-bg-top-mobile.svg');
    width: 100%;
    height: 200px;
    background-position: top;
    top: -198px;
    overflow: visible;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    right: 0;

    @include mediaQuery(desktop) {
      background-image: url($imgUrl + 'main-bg-top-desktop-semi.svg');
      height: 267px;
      top: -264px;
    }

    @include mediaQuery(desktop1280) {
      height: 367px;
      top: -364px;
    }

    @include mediaQuery(desktop1920) {
      height: 543px;
      top: -542px;
      background-image: url($imgUrl + 'main-bg-top-desktop.svg');
    }
  }

  &:after {
    content: '';
    position: absolute;
    background-image: url($imgUrl + 'main-bg-bottom-mobile.svg');
    width: 100%;
    height: 100px;
    background-position: top;
    bottom: -98px;
    overflow: visible;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    right: 0;
    transform: scale(1.5);

    @include mediaQuery(desktop) {
      background-image: url($imgUrl + 'main-bg-bottom-desktop-semi.svg');
      height: 100px;
      bottom: -98px;
    }

    @include mediaQuery(desktop1280) {
      height: 128px;
      bottom: -124px;
    }

    @include mediaQuery(desktop1920) {
      height: 180px;
      bottom: -178px;
      background-image: url($imgUrl + 'main-bg-bottom-desktop.svg');
    }
  }

  &__inner {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.2rem;
    @include base-container;
    position: relative;
    z-index: 2;
    min-height: 250px;

    @include mediaQuery(desktop1280) {
      padding-top: 2rem;
      max-width: 97.8rem;
    }

    @include mediaQuery(desktop1920) {
      max-width: 129.7rem;
      padding-top: 9rem;
    }
  }

  &__heading {
    font-style: normal;
    font-size: 3.2rem;
    line-height: 1;
    color: $white;
    letter-spacing: 0.4px;
    word-break: break-word;

    &-fw200 {
      font-weight: 200;
      text-transform: uppercase;

      @include mediaQuery(desktop1280) {
        letter-spacing: -1.2px;
      }

      @include mediaQuery(desktop1920) {
        letter-spacing: 3.8px;
      }
    }
    &-fw700 {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .5px;

      @include mediaQuery(desktop1280) {
        letter-spacing: -3.5px;
      }

      @include mediaQuery(desktop1920) {
        letter-spacing: 1.5px;
      }
    }

    @include mediaQuery(tablet) {
      font-size: 6.2rem;
      line-height: 7rem;
    }

    @include mediaQuery(desktop1920) {
      font-size: 9.3rem;
      line-height: 9.6rem;
      position: relative;
      width: 110%;
    }
  }

  &__paragraph {
    margin-top: 4.2rem;
    color: $white;

    @include mediaQuery(desktop1280) {
      margin-top: 5.4rem;
    }

    @include mediaQuery(desktop1920) {
      font-size: 3.7rem;
      line-height: 7.1rem;
      margin-top: 8.2rem;
      padding-left: 11.8rem;
    }
  }
}
