@import "../utils/index";
@import "../common/index";

.svg-icon {
  @include svg-icon;

  &--logo {
    width: 19.8rem;
    height: 3.8rem;

    & > svg {
      width: 100%;
    }

    @include mediaQuery(tablet) {
      width: 24.6rem;
      height: 4.9rem;
    }

    @include mediaQuery(desktop1920) {
      width: 33.9rem;
      height: 6.7rem;
    }
  }

  &--star {
    width: 6.1rem;
    height: 6.1rem;

    @include mediaQuery(desktop1280) {
      width: 7.5rem;
      height: 7.5rem;
    }

    @include mediaQuery(desktop1920) {
      width: 11rem;
      height: 11rem;
    }
  }

  &--articul-club {
    width: 14rem;
    height: 2.9rem;

    @include mediaQuery(desktop1280) {
      width: 22rem;
      height: 4.6rem;
    }
  }

  &--tg {
    width: (8.4rem * .7);
    height: (7rem * .7);

    @include mediaQuery(tablet) {
      width: (8.4rem * .8);
      height: (7rem * .8);
    }

    @include mediaQuery(desktop1920) {
      width: 8.4rem;
      height: 7rem;
    }
  }
}
