@import "../utils/index";
@import "../common/index";

.third-banner {
  padding-top: 3rem;

  @include mediaQuery(desktop) {
    padding-top: 7rem;
  }

  &__inner {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.2rem;
    @include base-container;
    margin-top: 3.6rem;
    min-height: 250px;

    @include mediaQuery(desktop1280) {
      max-width: 97.8rem;
    }

    @include mediaQuery(desktop1920) {
      max-width: 126.7rem;
      margin-top: 5.5rem;
    }
  }

  &__image {
    width: 100%;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;

    padding-bottom: (74px / 2);

    @include mediaQuery(mobile414) {
      padding-bottom: (96px / 2);
    }

    @include mediaQuery(tablet) {
      padding-bottom: (153px / 2);
    }

    @include mediaQuery(desktop1280) {
      padding-bottom: (160px / 2);
    }

    @include mediaQuery(desktop1920) {
      padding-bottom: (231px / 2);
    }
  }

  &__bracket {
    position: absolute;
    bottom: 0;
    height: 74px;

    @include mediaQuery(mobile414) {
      height: 96px;
    }

    @include mediaQuery(tablet) {
      height: 153px;
    }

    @include mediaQuery(desktop1280) {
      height: 160px;
    }

    @include mediaQuery(desktop1920) {
      height: 231px;
    }
  }

  &__bg-wrapper {
    position: relative;
    margin-bottom: 8.5rem;
    max-width: 70.9rem;
    margin-left: auto;
    margin-right: auto;

    .svg-icon {
      width: 100%;

      svg {
        width: 100%;
      }
    }

    @include mediaQuery(desktop1280) {
      margin-bottom: 10.6rem;
    }

    @include mediaQuery(desktop1920) {
      width: 100%;
      max-width: 105rem;
      margin-bottom: 13.6rem;
      margin-right: 0;
    }
  }

  &__phrase {
    color: $honey-flower;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding-right: 2rem;
    padding-left: 3.7rem;

    @include mediaQuery(tablet) {
      font-size: 2.8rem;
      line-height: 4.8rem;
    }

    @include mediaQuery(desktop1280) {
      font-size: 3.8rem;
      line-height: 7.2rem;
      padding-left: 9rem;
      padding-right: 0;
    }

    @include mediaQuery(desktop1920) {
      font-size: 4.9rem;
      line-height: 8.5rem;
      padding-left: 11rem;
      letter-spacing: 1px;
    }
  }

  &__phrase2 {
    color: $honey-flower;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 8.1rem;
    padding-left: 9rem;
    padding-right: 4.1rem;

    @include mediaQuery(mobile414) {
      max-width: 46.6rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.9rem;
      line-height: 3rem;
    }

    @include mediaQuery(tablet) {
      max-width: 58rem;
      font-size: 2.3rem;
      line-height: 3.8rem;
    }

    @include mediaQuery(desktop1280) {
      padding-left: 12rem;
    }

    @include mediaQuery(desktop1920) {
      max-width: 67rem;
      padding-right: 0;
      padding-left: 10rem;
      font-size: 3.1rem;
      line-height: 4.5rem;
      margin-top: 13rem;
    }
  }

  &__text-w-star {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1;
    color: $honey-flower;
    font-weight: 700;
    margin-top: 7.5rem;
    letter-spacing: 0.5px;

    .svg-icon {
      margin-right: 2.5rem;
    }

    @include mediaQuery(mobile414) {
      font-size: 2.6rem;
    }

    @include mediaQuery(tablet) {
      font-size: 4.5rem;
    }

    @include mediaQuery(desktop1280) {
      margin-top: 7.5rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 9rem;

      .svg-icon {
        margin-right: 4rem;
      }
    }

    @include mediaQuery(desktop1920) {
      font-size: 6.1rem;
      line-height: 4.5rem;
      padding-left: 11rem;
      margin-top: 12rem;
    }
  }
}
