@mixin svg-icon() {
  display: inline-flex;

  svg {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
  }
}

@mixin list-reset {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      @content;
  }
}

@mixin first-block-on-page-padding {
  padding-top: 11.05rem;

  @include mediaQuery(tablet) {
    padding-top: 15.15rem;
  }

  @include mediaQuery(desktop1280) {
    padding-top: 24.15rem;
  }
}

@mixin base-container {
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  @include mediaQuery(tablet) {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }

  @include mediaQuery(desktop) {
    padding-right: 4.8rem;
    padding-left: 4.8rem;
  }
}

