@import "config";

// Color Pallet
$white: #fff;
$black: #000;
$biloba-flower: #B0A6EF;
$gallery: #F0F0F0;
$honey-flower: #522377;
$perfume: #B3A4F5;
$error: #dc3545;
$disabled: #929ea9;
$wild-sand: #F4F4F4;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// IMG URL PATH
$imgUrl: '/local/templates/psy/images/';
$base-transition-time: 200ms;
