@import "../../utils/index";
@import "../../common/index";

.main-form {
  $s: &;

  padding-top: 9.7rem;

  @include mediaQuery(desktop1280) {
    padding-top: 16.7rem;
  }

  @include mediaQuery(desktop1920) {
    padding-top: 22.7rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    @include base-container;

    @include mediaQuery(desktop) {
      max-width: 97rem;
    }

    @include mediaQuery(desktop1920) {
      max-width: 129rem;
    }
  }

  &__input {
    &:not(:last-child) {
      margin-bottom: 3.5rem;

      @include mediaQuery(desktop1280) {
        margin-bottom: 3.5rem;
      }
    }
  }

  &__checkbox {
    &:not(:last-child) {
      margin-bottom: 4.6rem;
    }
  }

  &__submit {
    margin-top: 7.3rem;
    margin-left: auto;
    margin-right: auto;

    @include mediaQuery(desktop) {
      margin-left: 0;
    }

    @include mediaQuery(desktop1920) {
      margin-top: 10rem;
    }
  }

  &__fieldset {
    &:not(:last-child) {
      margin-bottom: 5.5rem;

      @include mediaQuery(desktop1280) {
        margin-bottom: 3.5rem;
      }

      @include mediaQuery(desktop1920) {
        margin-bottom: 4.5rem;
      }
    }

    &--desktop-flex {
      @include mediaQuery(desktop1280) {
        display: flex;
        justify-content: space-between;

        & > #{$s}__checkbox {
          width: calc(50% - 15px);
          margin-bottom: 0;
        }
      }
    }
  }

  &__label {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: $honey-flower;
    margin-bottom: 6.2rem;
    margin-top: 0;
    letter-spacing: 0.5px;

    @include mediaQuery(mobile414) {
      font-size: 4.3rem;
      line-height: 4.8rem;
    }

    @include mediaQuery(tablet) {
      font-size: 6.3rem;
      line-height: 7rem;
    }

    @include mediaQuery(desktop1280) {
      margin-bottom: 7.8rem;
    }

    @include mediaQuery(desktop1920) {
      font-size: 9.3rem;
      line-height: 9.6rem;
      margin-bottom: 9.4rem;
    }
  }

  &__fieldsets {
    display: flex;
    flex-direction: column;
    max-width: 70.9rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mediaQuery(desktop1920) {
      max-width: 95.9rem;
    }
  }

  &__fields-wrapper {
    display: flex;
    justify-content: space-between;

    #{$s}__input {
      margin-bottom: 0;
      width: calc(50% - 15px);
    }

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }
}
